.card-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: start;
  max-width: 40%;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 95%;
}

.card-text {
  text-align: justify;
}

@media (max-width: 1024px) {
  .card-info {
    max-width: 75%;
  }

  .card-text-container {
    width: 75%;
  }

  .card-info-container {
    max-width: 95%;
  }
}

@media (max-width: 600px) {
  .card-info {
    max-width: 100%;
    width: 100%;
  }

  .card-text-container {
    width: 90%;
  }

  .card-info-container {
    max-width: 100%;
    width: 100%;
  }
}

.home-button-container {
  width: 100%;
}

.card-reserved-list {
  opacity: 0.5;
  color: #422273;
  margin-top: -10px;
}