.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  width: 1000dvw;
  padding-bottom: 1rem;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80dvw;
  height: fit-content;
}

@media (max-width: 1380px) {
  .container {
    width: 100dvw;
  }
}

@media (max-width: 750px) {
  .main {
    height: fit-content;
  }
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.titleSeparator {
  display: block;
}

@media (max-width: 600px) {
  .titleSeparator {
    display: none;
  }
}

.title h1 {
  font-size: 2em;
  font-weight: bold;
  padding: 1rem;
  padding: 0.2rem;
  margin: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.images {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: calc(512px + 4rem);
  flex-wrap: wrap;
}

.images img {
  padding: 0.5rem;
}

.topResumeContainer {
  width: 100%;
  height: fit-content;
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .topResumeContainer {
    gap: 0.5rem;
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1130px) and (min-width:501px) {
  .topResumeContainer {
    margin: 0rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.topResume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  padding-top: 1rem;
}

.topResumeChart {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
}

@media (max-width: 500px) {
  .topResumeChart {
    grid-column: span 1;
    justify-content: space-between;
  }
}

.topResume .topResumeTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topResume .topResumeContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  flex-grow: 1;
  align-items: center;
}

.topResume .topResumeContentWithSpace {
  margin-top: 1rem;
}

.topResume .topResumeContent table tr td {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.topResume .topResumeTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.boxwhiskerChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  margin-left: 1rem;
}

@media (max-width: 500px) {
  .boxwhiskerChart {
    margin-top: 0.5rem;
    margin-left: 0;
  }
}

.cardsContainer {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1080px) {
  .cardsContainer {
    overflow-x: scroll;
  }
}

.decklistsContainer {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1080px) {
  .decklistsContainer {
    overflow-x: scroll;
  }
}

.reportMail {
  color: #422273;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}