.error {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.5rem;
  overflow-x: hidden;
  background-color: white;
  width: 100%;
}

.errorImageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin: 2rem -0.5rem;
}

.errorImage {
  width: 100%;
  height: auto;
}

.errorText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

@media (max-width: 767px) {
  .errorImageContainer {
    margin-top: 0;
  }
}