.error {
  display        : flex;
  flex-direction : column;
  flex           : 1;
  justify-content: center;
  align-items    : center;
  margin-bottom  : 3.5rem;
  overflow-x     : hidden;
}

.errorImage {
  display       : flex;
  flex-direction: column;
  flex          : 1;
  align-items   : center;
  margin        : 2rem -0.5rem;
}

.errorText {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;
  text-align    : center;
}

@media (max-width: 767px) {
  .errorImage {
    margin-top: 0;
  }
}