@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0 !important;
  margin: 0;
  background-color: #ececec;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

/* MUI override */

.MuiSelect-select {
  max-width: 5rem;
}

.MuiButton-containedPrimary {
  background-color: #422273 !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #422273 !important;
}

.MTableToolbar-title-8 {
  overflow: visible !important;
}

.MuiButton-contained.Mui-disabled {
  background-color: #ccc !important;
}

[class*='MTableToolbar-title'] {
  overflow: visible !important;
}

/* Scroll */

html {
  --scrollbarBG1: #ececec;
  --thumbBG1: #999;
  --scrollbarBG2: #fff;
  --thumbBG2: #ececec;
}

body::-webkit-scrollbar {
  width: 8px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG1) var(--scrollbarBG1);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG1);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG1);
  border: 0px solid var(--scrollbarBG1);
}

table {
  border-spacing: unset;
}