/* Base */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .container {
    display: flex;
  }
}

/* Base Layout */

.footer {
  width: 100%;
  height: fit-content;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  min-height: 76px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  margin-left: 0.5rem;
}

/* Nav Bar */

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  background-color: #422273;
  font-weight: 400;
  font-size: large;
  position: sticky;
  top: 0;
  z-index: 20;
}

.navBarPhone {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  background-color: #422273;
  font-weight: 400;
  font-size: large;
  position: sticky;
  top: 0;
  z-index: 20;
  padding-bottom: 0.25rem;
}

.navBar a {
  margin-right: 1rem;
  color: #ececec;
}

.navBarPhone a {
  color: #ececec;
  padding-bottom: 0.25rem;
  padding-top: 0.5rem;
  width: 100%;
  padding-left: 0.5rem;
}

.navBarPhoneIcon {
  color: #ececec;
  align-self: flex-end;
  padding-top: 0.5rem;
}

@media (max-width: 600px) {
  .navBar {
    display: none;
  }
  .navBarPhone {
    display: flex;
  }
}

@media (min-width: 601px) {
  .navBar {
    display: flex;
  }
  .navBarPhone {
    display: none;
  }
}

/* Home */

.homeMain {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  overflow-x: hidden;
  background-color: #ececec;
}

.homeTextSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  text-align: left;
  background-color: white;
  margin: 0.5rem;
  border-radius: 4px;
  overflow-y: hidden;
  text-align: left;
}

.homeImageContainer {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  max-height: 35rem;
  margin-top: -20rem;
}

.homeImage {
  width: 100%;
  height: auto;
}

.homeResume {
  padding-left: 1rem;
  padding-right: 1rem;
}

.homeTextSection h1 {
  font-size: 2rem;
}

.homeArticle {
  width: 80%;
}

.homeLink {
  flex: 1;
  text-align: end;
  color: #422273;
  font-weight: 600;
}

.homeArticle ul {
  list-style-type: disc;
}

.homeArticle li {
  margin-bottom: 0.5rem;
}

.homeLegal {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 1rem;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.homeLegal p {
  margin: 0.2rem;
  display: block;
  width: 100%;
  padding: 0;
  font-size: small;
}

.homeLegalText {
  max-width: 90%;
  text-align: left;
  margin-bottom: 2rem;
}

.homeStatsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: left;
  min-width: 25%;
  min-height: 85vh;
}

.homeStat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  text-align: center;
  min-width: 82%;
  max-height: 11rem;
  margin: 0.5rem;
  background-color: white;
  border-radius: 12px;
  padding-top: 1rem;
}

.homeStatTableTable {
  border-spacing: 0;
}

.homeStatTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  text-align: center;
  min-width: 82%;
  max-width: 82%;
  margin: 0.5rem;
  background-color: white;
  border-radius: 12px;
  padding: 2rem;
}

.homeStatTableTitle {
  width: 90%;
  text-align: -webkit-center;
}

.homeStatTableTitle h2 {
  margin-bottom: -0.5rem;
  margin-top: -0.5rem;
}

.homeStatTableTitle h3 {
  max-width: 10rem;
}

.homeStatTableTitle h3 {
  font-size: small;
}

.homeStatTableHead {
  background-color: #422273;
  color: #ececec;
  letter-spacing: 0.05rem;
}

.homeStatTableHead tr .homeStatTableHeadName {
  padding: 0.3rem;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 4px 0 0 0;
}

.homeStatTableHead tr .homeStatTableHeadOccurrences {
  padding: 0.3rem;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0 4px 0 0;
}

.homeStatTableBodyName {
  text-align: left;
}

.homeStatTableHeadName {
  text-align: left;
}

.homeStatTableBodyRow0 td {
  margin: 0;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ececec;
  cursor: pointer;
}

.homeStatTableBodyRow1 td {
  margin: 0;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ccc;
  cursor: pointer;
}

.homeStat p {
  font-size: 3rem;
  margin-top: 1rem;
  color: #422273;
  font-weight: 600;
}

.homeStatDisclaimer {
  font-size: 0.7rem;
  margin-top: -1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.homeImageHiddenContainer {
  display: none;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 35rem;
  margin-top: -10rem;
  width: 100%;
}
.homeImageHidden {
  width: 100%;
  height: auto;
}

.homeStatsHiddenSection {
  display: none;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;
}

.homeStatsHiddenSectionTop {
  display: -webkit-inline-flex;
  flex-direction: row;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;
}

.homeStatHidden {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 31%;
  margin: 0.2rem;
  background-color: white;
  border-radius: 12px;
}

.hiddenButtonTop10 {
  display: none;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 96%;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  border-radius: 8px;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #422273;
  color: #ececec;
  justify-content: space-between;
  cursor: pointer;
}

.hiddenButtonTop10Tablet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 97%;
  height: 95%;
  margin: 0.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  background-color: white;
  border-radius: 12px;
  background-color: #422273;
  color: #ececec;
  justify-content: space-between;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hiddenButtonTop10TabletLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hiddenButtonTop10TabletRight {
  flex: 0;
  align-items: center;
  justify-content: center;
  padding-left: 0.3rem;
}

.homeStatHidden p {
  font-size: 2rem;
  margin-top: 0.51rem;
  color: #422273;
  font-weight: 600;
}

@media (max-width: 1259px) {
  .homeMain {
    flex-direction: column;
  }

  .homeStatsSection {
    display: none;
  }

  .homeStatsHiddenSection {
    display: flex;
  }

  .hiddenButtonTop10 {
    display: none;
  }

  .hiddenButtonTop10Tablet {
    display: flex;
  }
}

@media (max-width: 600px) {
  .homeImageContainer {
    display: none;
  }

  .homeImageHiddenContainer {
    display: flex;
  }

  .homeStatHidden {
    margin: 0.25rem;
  }

  .hiddenButtonTop10 {
    display: flex;
  }

  .hiddenButtonTop10Tablet {
    display: none;
  }

  .homeArticle {
    width: 90%;
  }
}