/* Base */

.container {
  min-height     : 100vh;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

@media (max-width: 767px) {
  .container {
    display: flex;
  }
}

/* Base Layout */

.footer {
  width           : 100%;
  height          : fit-content;
  border-top      : 1px solid #eaeaea;
  display         : flex;
  justify-content : center;
  align-items     : center;
  background-color: #ccc;
  min-height      : 76px;
}

.footer a {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-grow      : 1;
}

/* Nav Bar */

.navBar {
  display         : flex;
  flex-direction  : row;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  height          : fit-content;
  padding         : 0.5rem;
  background-color: #422273;
  font-weight     : 400;
  font-size       : large;
  position        : sticky;
  top             : 0;
  z-index         : 1;
}

.navBarPhone {
  display         : flex;
  flex-direction  : column;
  justify-content : right;
  align-items     : flex-start;
  width           : 100%;
  height          : fit-content;
  padding         : 0.5rem;
  background-color: #422273;
  font-weight     : 400;
  font-size       : large;
  position        : sticky;
  top             : 0;
  z-index         : 1;
}

.navBar a {
  margin-right: 1rem;
  color       : #ececec;
}

.navBarPhone a {
  color         : #ececec;
  padding-bottom: 0.5rem;
  width         : 100%;
}

.navBarPhoneIcon {
  color     : #ececec;
  align-self: flex-end;
}