.mtgLoadingContainer {
  display: flex;
  flex-grow: 1;
  align-self: center;
  justify-content: center;
}

.mtgLoading {
  display: grid;
  grid-template-columns: 45px 45px 45px;
  grid-template-rows: 45px 45px 45px;
  justify-content: center;
  justify-items: center;
  margin: 2em 2em;
  position: relative;
}

.mtgLoading .mtgLoadingFirst {
  width: 13px;
  height: 12.5px;
  border-radius: 100%;
  grid-column: 2;
  grid-row: 1;
  position: relative;
  z-index: 2;
  align-self: end;
}

.mtgLoading .mtgLoadingSecond {
  width: 13px;
  height: 12.5px;
  border-radius: 100%;
  grid-column: 3;
  grid-row: 2;
  position: relative;
  z-index: 2;
  justify-self: baseline;
  align-self: center;
}

.mtgLoading .mtgLoadingThird {
  width: 13px;
  height: 12.5px;
  border-radius: 100%;
  grid-column: 2;
  grid-row: 3;
  position: relative;
  z-index: 2;
  justify-self: end;
}

.mtgLoading .mtgLoadingFourth {
  width: 13px;
  height: 12.5px;
  border-radius: 100%;
  grid-column: 2;
  grid-row: 3;
  position: relative;
  z-index: 2;
  justify-self: baseline;
}

.mtgLoading .mtgLoadingFifth {
  width: 13px;
  height: 12.5px;
  border-radius: 100%;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  z-index: 2;
  justify-self: end;
  align-self: center;
}