.main {
  display: flex;
  min-height: 100dvh;
  width: 80dvw;
  margin-bottom: 5rem;
  flex-direction: column;
}

@media (max-width: 1380px) {
  .main {
    width: 100dvw;
  }
}

@media (max-width: 750px) {
  .main {
    height: fit-content;
  }
}

.topResumeContainer {
  width: 100%;
  height: fit-content;
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .topResumeContainer {
    gap: 0.5rem;
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1130px) and (min-width:501px) {
  .topResumeContainer {
    margin: 0rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.topResume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  height: 100%;
  width: 100%;
}

.topResumeChart {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
}

@media (max-width: 500px) {
  .topResumeChart {
    grid-column: span 1;
    justify-content: space-between;
  }
}

.topResume .topResumeTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topResume .topResumeContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  flex-grow: 1;
}

.topResume .topResumeContent table tr td {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.topResume .topResumeTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.commandersContainer {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 1080px) {
  .commandersContainer {
    overflow-x: scroll;
  }
}

.cardsContainer {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 1080px) {
  .cardsContainer {
    overflow-x: scroll;
  }
}