.snackBarLoadingBase {
  background-color: #462b6e;
  height: 3.5rem;
  display: flex;
  width: 14rem;
  border-radius: 8px;
  align-items: center;
}

.snackBarLoadingText {
  color: #ececec;
  letter-spacing: 0.1rem;
  font-size: large;
}

.mtgLoadingContainer {
  display: flex;
  flex-grow: 0;
  align-self: center;
  justify-content: center;
}

.mtgLoading {
  display: grid;
  grid-template-columns: 20px 20px 20px;
  grid-template-rows: 20px 20px 20px;
  justify-content: center;
  justify-items: center;
  margin: 1em 1em;
  position: relative;
}

.mtgLoading .mtgLoadingFirst {
  width: 6px;
  height: 6.5px;
  border-radius: 100%;
  grid-column: 2;
  grid-row: 1;
  position: relative;
  z-index: 2;
  align-self: end;
}

.mtgLoading .mtgLoadingSecond {
  width: 6px;
  height: 6.5px;
  border-radius: 100%;
  grid-column: 3;
  grid-row: 2;
  position: relative;
  z-index: 2;
  justify-self: baseline;
  align-self: center;
}

.mtgLoading .mtgLoadingThird {
  width: 6px;
  height: 6.5px;
  border-radius: 100%;
  grid-column: 2;
  grid-row: 3;
  position: relative;
  z-index: 2;
  justify-self: end;
}

.mtgLoading .mtgLoadingFourth {
  width: 6px;
  height: 6.5px;
  border-radius: 100%;
  grid-column: 2;
  grid-row: 3;
  position: relative;
  z-index: 2;
  justify-self: baseline;
}

.mtgLoading .mtgLoadingFifth {
  width: 6px;
  height: 6.5px;
  border-radius: 100%;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  z-index: 2;
  justify-self: end;
  align-self: center;
}
