.snackBarLoadingBase {
  background-color: #462b6e;
  height: 3.5rem;
  display: flex;
  width: 12rem;
  border-radius: 8px;
  align-items: center;
}

.snackBarLoadingText {
  color: #ececec;
  letter-spacing: 0.1rem;
  font-size: large;
}

.mtgLoadingContainer {
  display: flex;
  flex-grow: 0;
  align-self: center;
  justify-content: center;
  padding: 0.3rem;
  margin-right: 0.5rem;
  margin-left: 0.3rem;
}