.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.5rem;
  overflow-x: hidden;
  background-color: white;
}

.main ul {
  padding-left: 0;
}

.content {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 767px) {
  .main {
    display: flex;
  }
  .content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.tournamentImageContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  max-height: 600px;
  min-height: 400px;
  min-width: 100%;
}

.tournamentImageContainer .tournamentImage {
  position: relative;
  object-fit: cover;
  max-width: calc(400px / (722px / 1280px));;
  max-height: 400px;
  z-index: 0;
  opacity: 1;
}

.tournamentImageContainer .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tournamentImageContainer h1,
.tournamentImageContainer h2 {
  position: relative;
  z-index: 0;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: -3px 0 #555555, 0 3px #555555, 3px 0 #555555, 0 -3px #555555;
  opacity: 1;
}

.tournamentImageContainer h1 {
  margin-bottom: 0.5rem;
}

.tournamentImageContainer h2 {
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  .tournamentImageContainer h1 {
    font-size: 2.5rem;
  }
  .tournamentImageContainer h2 {
    font-size: 2.5rem;
  }
}

.tournamentImageContainer .whatsappIcon {
  position: absolute;
  z-index: 0;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: -3px 0 #555555, 0 3px #555555, 3px 0 #555555, 0 -3px #555555;
  opacity: 1;
}

.dateSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}

.costSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}

.costSection ul {
  text-align-last: justify;
}

.costSection p {
  margin: 0;
  font-size: small;
  text-align: center;
}

.pricesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}

.pricesSection ul {
  text-align-last: center;
}

.pricesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.quorumSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}

.quorumSection p {
  text-align: justify;
}

.modeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}

.modeSection ul {
  list-style: inside;
}

.modeSection li ul {
  list-style: circle inside;
  text-align: left;
}

.rulesSection {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}

.rulesSection h2 {
  text-align: center;
  margin-bottom: 2.245rem;
}

.rulesSection p {
  text-align: justify;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}

.contactIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contactIcons a {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mapSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mapContainer {
  height: 50vh;
  width: 80%;
}

@media (max-width: 767px) {
  .mapContainer {
    width: 100%;
  }
}

.auspicesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auspicesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.auspicesWrapper .auspice {
  margin: 1rem;
  max-height: 10rem;
}

.placePhotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  max-width: 50rem;
}

.placePhotos .placePhoto {
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
}

.infoLink {
  color: #422273;
  font-weight: 700;
}

.rulesSection .rulesDisclaimer {
  font-size: small;
}

.scheduleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}

.scheduleSection ul {
  padding-left: 8rem;
}

.scheduleSection li {
  padding-top: 0.2rem;
}

.scheduleSectionTime {
  font-weight: bold;
  margin-right: 1.5rem;
}

@media (max-width: 767px) {
  .scheduleSection ul {
    padding-left: 2rem;
  }

  .scheduleSectionTime {
    margin-right: 0.5rem;
  }
}
